.git
.gitignore
.env
.env.local
.env.*.local
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.cache
tests
.idea
.vscode
.DS_Store
